@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
 font-size: large;
}

div.card {
  margin-top: 10px
}

.table {
  margin-top: 10px
}

body {
  background: rgb(248, 247, 247);
  /* background: linear-gradient(to right, #0062E6, #33AEFF); */
}